{% extends "base.html" %}

{% block title %}O spolku{% endblock %}

{% block content %}
<h2>O spolku Patronka</h2>

<p>
Zapsaný spolek Patronka působí převážně na Českolipsku a Novoborsku,
naším cílem je pomáhat osobám s handicapem, jejich rodinám a blízkým.
</p>

<p>
V současné době je naší hlavní činností poskytování kurzů organizacím
působícím v oblasti sociální práce.
</p>

<h3>Cesty k našemu cíli</h3>

<p>
Toto jsou naše cesty, tak jak jsme si aktivitu vymezili ve stanovách:
</p>

<ul>
<li><h4>Uchovávání, rozvíjení a zpomalování úbytku fyzických a psychických schopností a dovedností</h4>
<p>
Vlastní fyzické a psychické schopnosti a dovednosti handicapovaných osob jsou
důležitým faktorem pro celkovou spokojenost. Jakkoliv takové schopnosti nejsou
nezbytnou podmínkou spokojeného života, samy ke spokojenosti přispívají, a navíc
otevírají další možnosti – resp. jejich absence možnosti ubírá.
</p>

<p>
Chceme přispívat k udržování a rozvíjení takovýchto dovedností, zejména
vytvářením příležitostí k jejich uplatnění.
</p>

<li><h4>Poskytování a organizování vzdělávání</h4>
<p>
Pomáhat je třeba srdcem, ovšem i v přátelské pomoci se mohou hodit nejrůznější
tipy a triky, co dělat, jak dělat, proč dělat, … A když dojde na pomoc profesionální,
je nutné poskytovat ji opravdu správně: jak po stránce praktické, tak po stránce
byrokratické. V obojím se dají udělat chyby, a je škoda, pokud lidé nedostávají
tak kvalitní pomoc, jak by mohli, případně nedostávají žádnou, protože
organizace je zrušena kvůli porušení předpisů.
</p>

<p>
Této cestě se v současné době věnujeme zejména pořádáním kurzů pro organizace.
Některé kurzy jsou akreditované Ministerstvem práce a sociálních věcí, ve všech
kurzech se snažíme zohlednit potřeby dané organizace. Více informací ke kurzům
máme přímo na <a href="{% url 'kurzy:index' %}">stránce kurzů</a>.

<li><h4>Sběr, ověřování, poskytování a zveřejňování informací</h4>
<p>
Informace jsou nedílnou součástí pomoci, ať už jde o zásady komunikace, podmínky
příspěvku na péči, znalost bez/bariérovosti různých míst, nebo třeba povědomí
o akcích pro „speciální“ účastníky.
</p>

<p>
Chceme užitečné informace zprostředkovávat dál. Důležité je pro nás kromě sběru
informací také jejich ověřování, neboť mnohdy je špatná či zavádějící informace
horší než žádná informace. Jako dobrý způsob zprostředkování nám přijde zveřejňování
na našem webu, ale nebráníme se dalším možnostem.
</p>

<li><h4>Organizování společenských setkání a krátkodobých poznávacích a komunikačních akcí</h4>
<p>
Setkání a další akce jsou skvělou příležitostí potkat další lidi, zažít něco
zajímavého, na co se dá dobře vzpomínat a co se dá dobře vyprávět, procvičit
si své dovednosti, a celkově jsou milým zpestřením života.
</p>

<p>
Takovéto akce do značné míry kombinují vícero cest, které vidíme jako vedoucí
k našemu cíli, ale stojí nám za to vyrobit jim vlastní bod. Chtěli bychom takovéto
akce pořádat, ať už půjde o odpolední setkání s tančením, výlet do ZOO, nebo třeba
procházku po nové naučné stezce.
</p>

<li><h4>Vytváření prostředí k navazování mezilidských vztahů, včetně vztahů partnerských</h4>
<p>
Kontakt s dalšími lidmi je přirozenou potřebou každého člověka, včetně lidí
s handicapem a lidí o někoho pečujících. Právě handicap nebo péče o jinou osobu
ale mohou takové kontakty omezovat, třeba proto, že se člověk jednoduše nedostane
na místa, kde se lidé setkávají, nebo jen nemá čas na taková místa vyrážet.
</p>

<p>
Chceme vytvářet příležitosti a místa, kde se mohou potkat lidé, kteří takové
speciální příležitosti potřebují, a to ideálně nejen s podobnými lidmi, ale
také s „normálním světem“.
</p>

<p>
V současné době zvažujeme projekt, ve kterém by bylo možné jakýmkoliv způsobem
znevýhodněným lidem psát maily pro radost.
</p>

<li><h4>Vytváření, organizování a udržování prostředí a podmínek umožňujících mezilidskou pomoc</h4>
<p>
Je mnoho lidí, kteří potřebují pomoc, a mnoho lidí, kteří by rádi někomu pomohli,
ale ne vždy se tito lidé potkají. (A když se potkají, mohou se vynořit problémy
třeba s neznalostí různých užitečných triků.) Rádi bychom setkání takovýchto lidí
pomohli a oběma stranám poskytovali podporu.
</p>

<li><h4>Celospolečenská osvěta a rozvoj pozitivních vztahů společnosti k osobám s handicapem</h4>
<p>
Ve společnosti občas kolují mýty o různých handicapech, navíc spousta lidí zažívá
nejistotu při kontaktu s handicapovanou osobou. Přestože má tato nejistota obvykle
základ v dobrém úmyslu (co ne/dělat, abych neublížil, neurazil, …), může negativně
ovlivnit interakci.
</p>

<p>
Chceme přispět ke zlepšení povědomí o tom, co různé handicapy opravdu znamenají,
a stejně tak k hledání vhodných způsobů, jak se k nim postavit.
</p>

{% endblock %}
